.git
.gitignore
.idea
.vscode
.env
.env.*
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
*.md
Homestead.*
Thumbs.db
.DS_Store
